Hendrickson_Defrag2012.aux
Hendrickson_Defrag2012.log
Hendrickson_Defrag2012.nav
Hendrickson_Defrag2012.out
Hendrickson_Defrag2012.pyg
Hendrickson_Defrag2012.snm
Hendrickson_Defrag2012.toc
Hendrickson_Defrag2012.vrb
Hendrickson_Defrag2012.synctex.gz
minted.log
q.log
.DS_store
