Hendrickson_SBS2013.aux
Hendrickson_SBS2013.log
Hendrickson_SBS2013.nav
Hendrickson_SBS2013.out
Hendrickson_SBS2013.pyg
Hendrickson_SBS2013.snm
Hendrickson_SBS2013.toc
Hendrickson_SBS2013.vrb
Hendrickson_SBS2013.synctex.gz
minted.log
q.log
.DS_store
