Hendrickson_SBS2012.aux
Hendrickson_SBS2012.log
Hendrickson_SBS2012.nav
Hendrickson_SBS2012.out
Hendrickson_SBS2012.pyg
Hendrickson_SBS2012.snm
Hendrickson_SBS2012.toc
Hendrickson_SBS2012.vrb
Hendrickson_SBS2012.synctex.gz
minted.log
q.log
.DS_store
